<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IToDoService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IUserService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IToDoService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8010/ToDo/User/UserService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserService"
        contract="UserService.IUserService" name="NetTcpBinding_IUserService">
        <identity>
          <userPrincipalName value="LAPTOP-KCGM2G58\YASH SHAH" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8000/ToDo/User/UserService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="net.tcp://localhost:8010/ToDo/ToDo/ToDoService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IToDoService"
        contract="ToDoService.IToDoService" name="NetTcpBinding_IToDoService">
        <identity>
          <userPrincipalName value="LAPTOP-KCGM2G58\YASH SHAH" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8000/ToDo/ToDo/ToDoService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToDoService"
        contract="ToDoService.IToDoService" name="BasicHttpBinding_IToDoService" />
    </client>
  </system.serviceModel>
</configuration>
